
#snakeBoard{
  border: black 1px solid;
  display: table;
  background: lightgrey;
}

.boardPixel {
  width: 10px;
  height: 10px;
  padding: 10px;
  border: black 1px solid;
}

.col-md-6{
  background: rgb(235, 243, 246);
  text-align: center;
}

table{
  margin-left: 20%;
}

html body {
  background-color: rgba(52, 209, 63, 0.17);
}

h1{
  text-align: center;
}
