

.snakeBoard{
  /* border: black 1px solid; */
  display: table;
  background: lightgrey;
}

.boardPixel {
  width: 10px;
  height: 10px;
  padding: 10px;
}

.col-md-6{
  text-align: center;
  height: 100vh;
}

.col-md-3{
  text-align: center;
}

.button{
  width: 20vw;
  height: 10vh;
  background-color: rgb(217, 36, 30);
  font-size: 30px;
}

table{
  margin-left: 20%;
}

html body {
  background-color: rgba(52, 91, 209, 0.86);
  font-family: 'Bangers', cursive, Helvetica;
  color: rgb(255, 255, 255);
}

h1{
  text-align: center;
}

.col-md-6 p {
  font-size: 20px;
}
